.button-mint {
    width: 12em;
}

/* Also for html and body in aura view. */
.full-height {
    height: 100%;
    margin: 0px !important;
}

#display {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.token-image {
    width: 90vmin;
}
