.button-mint {
    width: 12em;
}

/* Also for html and body in aura view. */
.full-height {
    height: 100%;
    margin: 0px !important;
}

#display {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.token-image {
    width: 90vmin;
    border-radius: 4%;
    border: auto;
}

.img-aura {
    background-color: #fff;
    box-shadow: 0 0 100% 100% #0ff;
    animation: 1s linear 0s infinite alternate animate-aura;
}

@keyframes animate-aura {
    from {
        box-shadow: 0 0 140px 90px #fff;
    }

    to {
        box-shadow: 0 0 140px 90px #0ff;
    }
}
